<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
<system.serviceModel>
        <bindings>
                <wsDualHttpBinding>
                        <binding name="WSDualHttpBinding_IService1">
                                <security mode="None" />
                        </binding>
                        <binding name="WSDualHttpBinding_IService11">
                                <security mode="None" />
                        </binding>
                </wsDualHttpBinding>
        </bindings>
        <client>
                <endpoint address="http://localhost:54341/Service1.svc" binding="wsDualHttpBinding"
                        bindingConfiguration="WSDualHttpBinding_IService1" contract="ServiceReference1.IService1"
                        name="WSDualHttpBinding_IService1" />
        </client>
    </system.serviceModel>
</configuration>